html {
    font-size: 10px;
    background-image: linear-gradient(45deg, rgb(175, 91, 192) ,rgb(0, 204, 255));
    height: 100%;
   
    
}


h1 {
    text-align: center;
}

.buttons{
    text-align: center;
    

}

#rock{
    height: 10em;
    width: 10em;
    border: none;
    transition: all .07 ease;
    outline: none;
    background-size: cover;
    border-radius: 50%;
    background: url(https://miro.medium.com/max/2800/1*JOvf8IhmSCqaT7guHfw3BQ.jpeg);
    background-size: 45em;
    background-position: -1em 16em;
   
    
}

#paper{
    width: 10em;
    height: 10em;
    border: none;
    outline: none;
    border-radius: 50%;
    background: url(https://miro.medium.com/max/2800/1*JOvf8IhmSCqaT7guHfw3BQ.jpeg);
    background-size: 45em;
    background-position: -17em -17em;
    
}

#scissor{
    width: 10em;
    height: 10em;
    border: none;
    outline: none;
    border-radius: 50%;
    background: url(https://miro.medium.com/max/2800/1*JOvf8IhmSCqaT7guHfw3BQ.jpeg);
    background-size: 45em;
    background-position: -33.5em -17em;
}

.score{
    text-align: center;
    padding-top: 5em;
}

.playing{
    border-color: rgb(36, 36, 34);
    box-shadow: 0 0 1rem rgb(36, 36, 36);
}