html {
    font-size: 10px;
    background-image: linear-gradient(45deg, rgb(175, 91, 192) ,rgb(0, 204, 255));
    height: 100%;
   
    
}


h1 {
    text-align: center;
}

.buttons{
    text-align: center;

}

#rock{
    height: 140px;
    width: 140px;
    border: none;
    background-size: cover;
    border-radius: 50%;
    background: url(https://miro.medium.com/max/2800/1*JOvf8IhmSCqaT7guHfw3BQ.jpeg);
    background-position: -8px -3px;
    background-size: 600px
}

#paper{
    width: 140px;
    height: 140px;
    border: none;
    border-radius: 50%;
    background: url(https://miro.medium.com/max/2800/1*JOvf8IhmSCqaT7guHfw3BQ.jpeg);
    background-size: 600px;
    background-position: -226px -3px;
    
}

#scissor{
    width: 140px;
    height: 140px;
    border: none;
    border-radius: 50%;
    background: url(https://miro.medium.com/max/2800/1*JOvf8IhmSCqaT7guHfw3BQ.jpeg);
    background-size: 600px;
    background-position: -445px -3px;
}
